<footer class="mt-24">
    <div class="pt-1 bg-gradient-to-tl from-pink-400 via-purple-600 to-indigo-300">
        <div class="relative px-8 py-2 bg-gray-800">
            <div class="flex flex-wrap justify-between text-sm text-gray-300">
                <span class="mb-4 md:mb-0">
                    Copyright &copy; Jason Kenyon
                </span>
                <span>
                    Powered By <a class="text-fuchsia-400 hover:underline" target="_blank" href="https://statamic.com"
                        rel="noopener noreferrer">Statamic</a> | Icons by <a class="text-fuchsia-400 hover:underline"
                        target="_blank" href="https://heroicons.com/" rel="noopener noreferrer">Hero Icons</a> &
                    <a class="text-fuchsia-400 hover:underline" target="_blank" href="https://simpleicons.org/"
                        rel="noopener noreferrer">Simple Icons</a>
                </span>
                <span>
                    Code highlighting provided by <a class="text-fuchsia-400 hover:underline" target="_blank"
                        href="https://torchlight.dev/" rel="noopener noreferrer">Torchlight</a>
                </span>
            </div>
        </div>
    </div>
</footer>

{{ livewire:scripts }}
